.logo-viajes-chile{
    width: 35px;
    height: 30px;
}
.separacion{
    justify-content: flex-end;
}
.navbar-brand{
    color: #fff !important;
}
ul li a {
    color: #fff !important;
}
.size-img-carrusel{
    height: 800px;
    width: 100%;
}
.section-quieres-somos{
    background-color: #000;
    padding: 40px 100px 40px 100px;
}
.titulo-section{
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: solid 1px ;
}
.icon-quienes-somos{
    background-color: aqua;
    text-align: center;
    font-size: 23px;
    color: #fff;
}
.text-quienes-somos{
    color: #fff;
    text-align: justify;
}